@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'heading';
  src: url('/fonts/LuxiaRegular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
/* In your global CSS file (or Tailwind config if using custom utilities) */
.custom-content ul {
  list-style-type: disc; /* Ensures bullet points */
  padding-left: 1.25rem; /* Indent for the list */
}

.custom-content li {
  margin-bottom: 0.5rem; /* Adds space between list items */
}
.fix-height-swiper{
  height: 70px;

@media screen and (min-width:400px) {
  height: 110px;
}

}

/* For the first Swiper */
 .swiper-pagination {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-4%);
  z-index: 50 !important;
  pointer-events: auto !important;
}

 .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0.7;
  transition: opacity 0.3s, transform 0.2s ease-in-out;
  cursor: pointer;
  margin: 0 5px;
}

 .swiper-pagination-bullet-active {
  background: hsl(258, 97%, 49%);
  opacity: 1;
  transform: scale(1.3);
}

/* For the second Swiper */
.swiper-instance-two .swiper-pagination {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-4%);
  z-index: 50 !important;
  pointer-events: auto !important;
}

.swiper-instance-two .swiper-pagination-bullet {
  width: 10px;  /* Change size for second Swiper */
  height: 10px;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0.7;
  transition: opacity 0.3s, transform 0.2s ease-in-out;
  cursor: pointer;
  margin: 0 5px;
}

.swiper-instance-two .swiper-pagination-bullet-active {
  background: hsl(350, 97%, 50%); /* Change active color for second Swiper */
  opacity: 1;
  transform: scale(1.3);
}


.detailsSwiperContainer{
  width: 80%;
  max-width: 80%;
}
@media (max-width: 1024px) {
  .detailsSwiperContainer {
    width: 100%;
    max-width: 100%;
  }
}
.details-thumbContainer{
  width: 100%;
  max-width: 100%;
}
@media (max-width: 1024px) {
  .details-thumbContainer {
    width: 20%;
    max-width: 100%;
  }
}

